<template>
  <div class="gameContainer">
    <iframe src="http://localhost:8888/"></iframe>
  </div>
</template>


<style lang="scss" scoped>
iframe {
  width: 72vw;
  height: 45vw;
  margin: 0 auto;
}
.gameContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
