<template>
  <div>
    <nuxt />
  </div>
</template>

<script>
export default {
  components: {},
  data: () => {
    return {};
  },
  mounted: function () {},
  methods: {},
};
</script>
<style lang="scss" scoped></style>
